<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Welcome!</title>
</head>
<body>
    <main class="main">
        <h1 class="main-heading mb-3">
            Welcome to the API domain!
        </h1>
        <p class="paragraph mb-1">
            This site serves to provide API endpoints to the "askme clone" frontend project. It allows the webpage to authenticate users by logging them in or create them if they don't have an account. Users that are reguistered can be asked questions anonymously by other users. 
        </p>
        <p class="paragraph mb-1">
            This site also provides access to the database resources, though some of them are restricted to authenticated or even authorised users.
        </p>
        <p class="paragraph mb-1">
            If they wish to reply, their response with the question will appear on their profile. Only question that have been answered can appear on the profile.
        </p>
        <p class="paragraph mb-1">
            If you want to check out the website, follow this link:
        </p>
        <a href="/#" class="link mt-3">
            Ask some questions!
        </a>
    </main>
</body>
</html>